openapi: 3.2.0
info:
  title: Roku Nabu Cloud Asyncapi API
  contact:
    name: DevX Tools Team
    email: dldevxtools@roku.com
  version: 1.3.29
  description: Nabu Cloud is Roku's developer cloud platform for managing test devices, snapshots, builds, projects, organisations, groups, and personal access tokens. It provides REST APIs for orchestrating remote Roku test devices and CI/CD workflows.
  x-generated-from: rokudev/dev-doc
  x-source-url: https://github.com/rokudev/dev-doc/blob/v2.0/reference/openapi.json
servers:
- url: https://api.cloud.roku.dev
  description: Roku Nabu Cloud Production
tags:
- name: asyncapi
paths:
  /asyncapi:
    get:
      tags:
      - asyncapi
      summary: Roku Serve Asyncapi Schema
      description: Serve the AsyncAPI schema as an HTML response.
      operationId: asyncapi-serve_asyncapi_schema
      parameters:
      - name: sidebar
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Sidebar
      - name: info
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Info
      - name: servers
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Servers
      - name: operations
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Operations
      - name: messages
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Messages
      - name: schemas
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Schemas
      - name: errors
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Errors
      - name: expandMessageExamples
        in: query
        required: false
        schema:
          type: boolean
          default: true
          title: Expandmessageexamples
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /asyncapi.json:
    get:
      tags:
      - asyncapi
      summary: Roku Download App Json Schema
      operationId: asyncapi-download_app_json_schema
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /asyncapi.yaml:
    get:
      tags:
      - asyncapi
      summary: Roku Download App Yaml Schema
      operationId: asyncapi-download_app_yaml_schema
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
