openapi: 3.2.0
info:
  title: Roku Nabu Cloud Serviceaccounts API
  contact:
    name: DevX Tools Team
    email: dldevxtools@roku.com
  version: 1.3.29
  description: Nabu Cloud is Roku's developer cloud platform for managing test devices, snapshots, builds, projects, organisations, groups, and personal access tokens. It provides REST APIs for orchestrating remote Roku test devices and CI/CD workflows.
  x-generated-from: rokudev/dev-doc
  x-source-url: https://github.com/rokudev/dev-doc/blob/v2.0/reference/openapi.json
servers:
- url: https://api.cloud.roku.dev
  description: Roku Nabu Cloud Production
tags:
- name: serviceaccounts
paths:
  /api/v1/serviceaccounts/login:
    post:
      tags:
      - serviceaccounts
      summary: Roku Login Token
      operationId: serviceaccounts-login_token
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Body_serviceaccounts-login_token'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCTokenResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    OIDCTokenResponseModel:
      properties:
        access_token:
          type: string
          title: Access Token
        refresh_token:
          anyOf:
          - type: string
          - type: 'null'
          title: Refresh Token
        expires_in:
          type: integer
          title: Expires In
        refresh_expires_in:
          type: integer
          title: Refresh Expires In
        token_type:
          type: string
          title: Token Type
        scope:
          type: string
          title: Scope
      type: object
      required:
      - access_token
      - expires_in
      - refresh_expires_in
      - token_type
      - scope
      title: OIDCTokenResponseModel
      description: OIDC Token response model
    Body_serviceaccounts-login_token:
      properties:
        grant_type:
          type: string
          pattern: client_credentials
          title: Grant Type
        client_id:
          type: string
          title: Client Id
        client_secret:
          type: string
          title: Client Secret
      type: object
      title: Body_serviceaccounts-login_token
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
